<mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Green Team
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="agent-panel" expanded="false" *ngFor="let agent of teams.green | keyvalue">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{agent.key}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- piechart -->
            <div style="display: block;">
                <canvas baseChart [type]="'pie'" [data]="$any(agent).value" [options]="pieChartOptions"
                [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                </canvas>
            </div>

        </mat-expansion-panel>

    </mat-expansion-panel>

    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Red Team
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="agent-panel" expanded="false" *ngFor="let agent of teams.red | keyvalue">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{agent.key}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- piechart -->
            <div style="display: block;">
                <canvas baseChart [type]="'pie'" [data]="$any(agent).value" [options]="pieChartOptions"
                [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                </canvas>
            </div>

        </mat-expansion-panel>

    </mat-expansion-panel>

    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Blue Team
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="agent-panel" expanded="false" *ngFor="let agent of teams.blue | keyvalue">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{agent.key}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- piechart -->
            <div style="display: block;">
                <canvas baseChart [type]="'pie'" [data]="$any(agent).value" [options]="pieChartOptions"
                [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                </canvas>
            </div>

        </mat-expansion-panel>

    </mat-expansion-panel>

</mat-accordion>