<h1 mat-dialog-title>{{this.elementTitle}}</h1>
<div style="text-align:center" mat-dialog-content>

    <mat-tab-group style="text-align:left">

        <mat-tab label="Description">
            <markdown mermaid [mermaidOptions]="options" [src]="this.descriptionFilePath">
            </markdown>
        </mat-tab>

        <mat-tab label="Data">
            <markdown mermaid [mermaidOptions]="options" [src]="this.dataFilePath">
            </markdown>
        </mat-tab>

    </mat-tab-group>


    <button class="chooseButton" style="text-align:center" color="warn" mat-button algin="right" (click)="this.dialog.closeAll();this.fillConf()">Load</button>

</div>