<mat-toolbar>

  <!-- File menu -->
  <button mat-button [matMenuTriggerFor]="file_menu">File</button>
  <mat-menu #file_menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="new_submenu">New</button>
    <button mat-menu-item>Open</button>
    <button mat-menu-item>Save in library</button>
    <button mat-menu-item>Export to</button>
    <button mat-menu-item>Import from</button>
    <button mat-menu-item disabled="{{this.disable_properties}}" (click)="openPropertiesDialog()">Properties</button>
    <button mat-menu-item disabled="{{this.disable_history}}" (click)="openHistoryDialog()">File History</button>
    <button mat-menu-item>Close</button>
  </mat-menu>
  <mat-menu #new_submenu="matMenu">
    <button mat-menu-item disabled="{{this.disable_scenario_creation}}" (click)="new_scenario()">Scenario</button>
    <button mat-menu-item disabled="{{this.disable_agent_creation}}" (click)="new_agent()">Agent</button>
    <button mat-menu-item disabled="{{this.disable_node_creation}}" (click)="new_node()">Node</button>
  </mat-menu>
  <!-- End File menu -->

  <!-- Edit menu -->
  <button mat-button [matMenuTriggerFor]="edit_menu">Edit</button>
  <mat-menu #edit_menu="matMenu">
    <button mat-menu-item (click)="openPreferencesDialog()">Preferences</button>
    <button mat-menu-item (click)="openLibraryDialog()">Library</button>
  </mat-menu>
  <!-- End Edit menu -->

  <!-- Run configuration menu -->
  <button mat-button [matMenuTriggerFor]="run_configuration_menu">Running configuration</button>
  <mat-menu #run_configuration_menu="matMenu">
    <button mat-menu-item (click)="openEmSimDialog('undefined')">Configure Simulation/Emulation</button>
    <button mat-menu-item (click)="openEmSimDialog('full_simulation')">Configure Full Simulation</button>
    <button mat-menu-item (click)="openEmSimDialog('full_emulation')">Configure Full Emulation</button>
    <button mat-menu-item (click)="openPackagingDialog()">Configure MAS Packaging</button>
  </mat-menu>
  <!-- End Run menu -->

    <!-- Run menu -->
    <button mat-button [matMenuTriggerFor]="run_menu">Launch</button>
    <mat-menu #run_menu="matMenu">
      <button mat-menu-item (click)="run()">Run</button>
      <button mat-menu-item (click)="next()">Next</button>
      <button mat-menu-item (click)="pause()">Pause</button>
      <button mat-menu-item (click)="resume()">Resume</button>
      <button mat-menu-item (click)="stop()">Stop</button>
      <button mat-menu-item (click)="runPackaging()">Run packaging</button>
    </mat-menu>
    <!-- End Run menu -->

  <!-- View menu -->
  <button mat-button [matMenuTriggerFor]="view_menu">View</button>
  <mat-menu #view_menu="matMenu">
    <button mat-menu-item>Zoom in</button>
    <button mat-menu-item>Zoom out</button>
    <button mat-menu-item>Full screen</button>
    <button mat-menu-item (click)="openDialogWithRef(show_hide_dialog)">Show/Hide</button>
  </mat-menu>
  <ng-template #show_hide_dialog>
    <h1 mat-dialog-title>Show/Hide</h1>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-checkbox [checked]="this.shown_toolbars" (change)="show_hide_toolbars()">Toolbars</mat-checkbox>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-checkbox [checked]="this.shown_environment_properties_panel"
          (change)="show_environment_properties_panel()">Environment properties panel</mat-checkbox>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-checkbox [checked]="this.shown_graphical_visualization_panel"
          (change)="show_graphical_visualization_panel()">Graphical visualization panel</mat-checkbox>
      </mat-list-item>
      <mat-list-item role="listitem">
        <mat-checkbox [checked]="this.shown_prompt_interface" (change)="show_prompt_interface()">Prompt interface
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
  </ng-template>
  <!-- End View menu -->

  <!-- View menu -->
  <button mat-button [matMenuTriggerFor]="help_menu">Help</button>
  <mat-menu #help_menu="matMenu">
    <button mat-menu-item>Wiki</button>
    <button mat-menu-item (click)="openDialogWithRef(about_MCAS)">About MCAS</button>
  </mat-menu>
  <ng-template #about_MCAS>
    <h1 mat-dialog-title>About MCAS <img src="../../assets/favicon.png" alt="MCAS icon"
        style="width:50px;height:50px;float:right"></h1>
    <div mat-dialog-content>
      <p>MCAS is a PoC intended to be used as an experimental platform to assess cyberdefense multi-agent system</p>
      <p><b>Version</b>: 0.4.3</p>
      <p><b>Author</b>: Julien Soulé (<a
          href="mailto: julien.soule@lcis.grenoble-inp.fr">julien.soule@lcis.grenoble-inp.fr</a>)</p>
    </div>
  </ng-template>
  <!-- End Help menu -->

</mat-toolbar>