<mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Green Team
            </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- sequence diagram -->
        <div #mermaidDivGreen></div>

    </mat-expansion-panel>

    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Red Team
            </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- sequence diagram -->
        <div #mermaidDivRed></div>

    </mat-expansion-panel>

    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Blue Team
            </mat-panel-title>
        </mat-expansion-panel-header>

        <!-- sequence diagram -->
        <div #mermaidDivBlue></div>

    </mat-expansion-panel>

</mat-accordion>