<div *ngIf="this.menuBarConfiguration.show_hide.properties; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
    <div class="row">
        <div class="column-left">
            <mat-tab-group [color]="'accent'" [backgroundColor]="'accent'">
                <mat-tab label="State">
                    <json-editor [options]="editorOptions" [data]="stateData"></json-editor>
                </mat-tab>
                <mat-tab label="Configuration">
                    <json-editor [options]="editorOptions" [data]="configurationData" (change)="showJson($event)"></json-editor>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="column-right">
            <div class="row">
                <div class="graphical">
                    <mat-tab-group [color]="'accent'" [backgroundColor]="'accent'">
                        <mat-tab label="Network">

                            <mat-tab-group [color]="'primary'" [backgroundColor]="'primary'">
                                <mat-tab label="Topology">
                                    <app-network-topology [stateData]="this.stateData"></app-network-topology>
                                </mat-tab>

                                <mat-tab label="Nodes">
                                    <app-network-nodes></app-network-nodes>
                                </mat-tab>
                            </mat-tab-group>

                        </mat-tab>

                        <mat-tab label="Agents">

                            <mat-tab-group [color]="'primary'" [backgroundColor]="'primary'">
                                <mat-tab label="Logs">
                                    <app-agents-logs></app-agents-logs>
                                </mat-tab>
                                <mat-tab label="Pixel visualization">
                                    <app-agents-pixels></app-agents-pixels>
                                </mat-tab>
                                <mat-tab label="Histogram">
                                    <app-agents-histograms></app-agents-histograms>
                                </mat-tab>
                                <mat-tab label="Pie chart">
                                    <app-agents-piecharts></app-agents-piecharts>
                                </mat-tab>
                                <mat-tab label="Sequence diagram">
                                    <app-agents-seqdiagrams></app-agents-seqdiagrams>
                                </mat-tab>
                            </mat-tab-group>

                        </mat-tab>

                        <mat-tab label="Global">
                            <mat-tab-group [color]="'primary'" [backgroundColor]="'primary'">
                                <mat-tab label="Graphs">
                                    <app-global-graphs>
                                    </app-global-graphs>
                                </mat-tab>
                                <mat-tab label="Matrixes">
                                    <app-global-matrixes></app-global-matrixes>
                                </mat-tab>
                                <mat-tab label="Sequence diagrams">
                                    <app-global-seqdiagrams></app-global-seqdiagrams>
                                </mat-tab>
                            </mat-tab-group>
                        </mat-tab>

                    </mat-tab-group>

                    <section class="show_agent_types">
                        <mat-checkbox class="show_team" [(ngModel)]="show_green_agents">Green agents</mat-checkbox>
                        <mat-checkbox class="show_team" [(ngModel)]="show_red_agents">Red agents</mat-checkbox>
                        <mat-checkbox class="show_team" [(ngModel)]="show_blue_agents">Blue agents</mat-checkbox>
                    </section>

                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #elseBlock>
    <div class="row">
        <div class="graphical">
            <mat-tab-group>
                <mat-tab label="Graph visualization">
                    <app-network-topology [stateData]="this.sharedConfigurationData">
                    </app-network-topology>
                </mat-tab>
                <mat-tab label="Charts visualization">
                    <app-global-graphs></app-global-graphs>
                </mat-tab>
                <mat-tab label="Logs visualization">
                    Logs visualization
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</ng-template>