@import "~jsoneditor/dist/jsoneditor.min.css";

@import "~jsoneditor/examples/css/darktheme.css";

.column-left {
  float: left;
  width: calc(30% - 1px);
  border-right: 1px solid;
  margin: 0px;
  padding: 0px;
  height: calc(100vh - 112px);
  background-color: green;
}

.column-right {
  float: right;
  margin: 0px;
  padding: 0px;
  width: 70%;
  height: calc(100vh - 112px);
}

.graphical {
  background-color: white;
  height: calc(100vh - 112px);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: black;
}

.command_output {
  position: fixed;

}

:host ::ng-deep json-editor,
:host ::ng-deep json-editor .jsoneditor,
:host ::ng-deep json-editor>div,
:host ::ng-deep json-editor jsoneditor-outer {
  height: calc(100vh - 112px);
  border-right: 0px;
  position: inline-block;
}