<div style="display:flex; justify-content:center; width: 100%">
    <div #treeContainer style="flex:4;position: relative;top: 0;left:0;padding:0;margin:0; height: 100%;"></div>

    <section class="show_agent_types">
        <mat-checkbox class="show_team" (click)="showTeam('green')">Green agents</mat-checkbox>
        <mat-checkbox class="show_team" (click)="showTeam('red')">Red agents</mat-checkbox>
        <mat-checkbox class="show_team" (click)="showTeam('blue')">Blue agents</mat-checkbox>
    </section>

</div>