<mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Green Team
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="agent-panel" expanded="false" *ngFor="let agent of teams.green">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{agent.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-editor [text]="agent.logs" [terminalDisplay]="true" mode="text"></app-editor>
        </mat-expansion-panel>

    </mat-expansion-panel>

    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Red Team
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="agent-panel" expanded="false" *ngFor="let agent of teams.red">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{agent.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-editor [text]="agent.logs" [terminalDisplay]="true" mode="text"></app-editor>
        </mat-expansion-panel>

    </mat-expansion-panel>

    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Blue Team
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel class="agent-panel" expanded="false" *ngFor="let agent of teams.blue">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{agent.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-editor [text]="agent.logs" [terminalDisplay]="true" mode="text"></app-editor>
        </mat-expansion-panel>

    </mat-expansion-panel>

</mat-accordion>