<mat-accordion class="example-headers-align" multi>

    <!-- TODO: for each node use the template below -->

    <mat-expansion-panel *ngFor="let node of this.nodesData | keyvalue" expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ node.key }}
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-accordion class="example-headers-align" multi>

            <app-tree [data]=node.value></app-tree>

            <!-- <mat-expansion-panel expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Properties
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <table style="width:100%; margin-top: 10pt;">
                    <tr>
                        <th>OS</th>
                        <td class="right">
                            Windows7
                        </td>
                    </tr>
                    <tr>
                        <th>Memory</th>
                        <td class="right">
                            82GB
                        </td>
                    </tr>
                </table>

            </mat-expansion-panel> -->

            <mat-expansion-panel expanded="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Logs
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-editor [(text)]="logsData" [terminalDisplay]="true" mode="text"></app-editor>

            </mat-expansion-panel>

        </mat-accordion>

    </mat-expansion-panel>

</mat-accordion>