<mat-accordion class="example-headers-align" multi>

    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Green Team
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel *ngFor="let agent of this._data['green'] | keyvalue" class="agent-panel" expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{agent.key}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- pixel visualization -->
            <app-pixel-visualization [width]="300" [height]="101" [data]="agent.value | json"></app-pixel-visualization>

        </mat-expansion-panel>

    </mat-expansion-panel>

    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Red Team
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel *ngFor="let agent of this._data['red'] | keyvalue" class="agent-panel" expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{agent.key}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- pixel visualization -->
            <app-pixel-visualization [width]="300" [height]="101" [data]="agent.value | json"></app-pixel-visualization>

        </mat-expansion-panel>

    </mat-expansion-panel>

    <mat-expansion-panel expanded="false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Blue Team
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-expansion-panel *ngFor="let agent of this._data['blue'] | keyvalue" class="agent-panel" expanded="false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{agent.key}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- pixel visualization -->
            <app-pixel-visualization [width]="300" [height]="101" [data]="agent.value | json"></app-pixel-visualization>
        </mat-expansion-panel>

    </mat-expansion-panel>

</mat-accordion>